:root {
  --BaseBlue-900: #003f5f;
  --BaseBlue-source: #25a9e0;
  --BaseBlue-800: #00537c;
  --BaseBlue-700: #006898;
  --BaseBlue-600: #007cb0;
  --BaseBlue-500: #0091c5;
  --BaseBlue-400: #3da5d7;
  --BaseBlue-300: #6db9e4;
  --BaseBlue-200: #99cdef;
  --BaseBlue-100: #c2e1f6;
  --BaseBlue-50: #ebf5fc;
  --Graphite-source: #282828;
  --Graphite-900: #393939;
  --Graphite-800: #4b4b4b;
  --Graphite-700: #5e5e5e;
  --Graphite-600: #727272;
  --Graphite-500: #868686;
  --Graphite-400: #9b9b9b;
  --Graphite-300: #b0b0b0;
  --Graphite-200: #c6c6c6;
  --Graphite-100: #dddddd;
  --Graphite-50: #f3f3f3;
  --LightBlue-source: #eefaff;
  --LightBlue-900: #343a3d;
  --LightBlue-800: #444d50;
  --LightBlue-700: #566064;
  --LightBlue-600: #697478;
  --LightBlue-500: #7d888c;
  --LightBlue-400: #939da1;
  --LightBlue-300: #a9b2b6;
  --LightBlue-200: #c1c8ca;
  --LightBlue-100: #d9dddf;
  --LightBlue-50: #f2f4f4;
  --OceanBlue-source: #0a629a;
  --OceanBlue-900: #0b3c5f;
  --OceanBlue-800: #0c4f7c;
  --OceanBlue-700: #1a6298;
  --OceanBlue-600: #3276b0;
  --OceanBlue-500: #4d8ac5;
  --OceanBlue-400: #6c9fd6;
  --OceanBlue-300: #8cb4e4;
  --OceanBlue-200: #acc9ee;
  --OceanBlue-100: #cedef6;
  --OceanBlue-50: #eff4fc;
  --SeaBlue-source: #084c58;
  --SeaBlue-900: #1a3e46;
  --SeaBlue-800: #23525c;
  --SeaBlue-700: #306671;
  --SeaBlue-600: #427a87;
  --SeaBlue-500: #588e9b;
  --SeaBlue-400: #72a3af;
  --SeaBlue-300: #8eb7c2;
  --SeaBlue-200: #adccd4;
  --SeaBlue-100: #cde0e5;
  --SeaBlue-50: #eef5f6;
  --White-10: rgba(255, 255, 255, 0.1);
  --White-100: #ffffff;

  --font: "Avenir", sans-serif;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  --swiper-pagination-bullet-horizontal-gap: 2px;
  --swiper-pagination-bullet-inactive-color: #eef5f6;
  --swiper-pagination-bullet-inactive-opacity: 1;

  --swiper-pagination-bottom: 12px;
}
