.credential__section {
  position: relative;
  padding-top: 32px;
  padding-bottom: 69px;

  @media screen and (min-width: 1280px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.credential__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: center;
  }
}

.credentials__link {
  margin-bottom: 16px;

  @include font(400, 14px, 18.2px);
  color: var(--Graphite-source);
  text-decoration: underline;

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    margin-right: 124px;
  }
}

.credentials__text {
  @include font(400, 10px, 13px);
  color: var(--Graphite-source);

  @media screen and (min-width: 1280px) {
    @include font(400, 14px, 18.2px);
  }
}

.credentials__agency-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  @media screen and (min-width: 1280px) {
    right: 0;
  }
}
