.footer__section {
  position: relative;
  padding-bottom: 32px;

  @media screen and (min-width: 1280px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.footer__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 95%;

    height: 1px;

    background: var(--Graphite-100);

    @media screen and (min-width: 1280px) {
      max-width: 1540px;
    }
  }

  @media screen and (min-width: 1280px) {
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
  }
}
.footer__logo-link {
  margin-bottom: 38px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.footer_nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 32px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
}

.footer_nav-item {
  &:not(:last-child) {
    margin-right: 16px;
  }

  @include font(400, 14px, 18.2px);
  color: var(--Graphite-source);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--Graphite-700);
  }

  &:active {
    color: var(--BaseBlue-source);
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 32px;
    }
    @include font(400, 20px, 26px);

    text-decoration: none;
  }
}

.address__address {
  margin-bottom: 24px;
}

.footer__address {
  @include font(400, 14px, 18.2px);
  color: var(--Graphite-900);
  font-style: normal;

  @media screen and (min-width: 1280px) {
    @include font(400, 16px, 20.8px);
  }
}
